<!-- The content below is only a placeholder and can be replaced. -->

 <!-- <div style="text-align:center">
 
  <h1>
    Welcome to {{ title }}!
  </h1>
 
</div> -->

<!-- <app-compo1></app-compo1> -->
  
<!-- <app-comp2></app-comp2>  -->

<!-- <app-ngfor></app-ngfor> -->

<!-- <button class="btn btn-primary">bootstrap </button> -->

<!-- <app-ngswitch></app-ngswitch> -->

<!-- <app-ngswitchhome></app-ngswitchhome> -->

 <!-- <app-ngstyle></app-ngstyle> -->

<!-- <app-ngclass></app-ngclass> -->

<!-- <app-ngclasshome></app-ngclasshome>  -->

<!-- <app-child [data]="fromparenttochild" (childOutput)="GetValueFromChild($event)"></app-child> -->

<!-- <app-child [data]="employee" (childOutput)="GetValueFromChild($event)"></app-child> -->

<!-- 
<app-child [data]="fromparenttochild"></app-child>

<input type="text" (blur)="sub mitValue(val)"> -->

  <!-- <input type="text" placeholder="Input here..." #val>
<button (click)="submitValue(val)" >SubmitValue</button>  -->

<!-- <app-lifecyclehooks *ngIf="isShow" [data]="value"></app-lifecyclehooks> -->
<!-- 
 <button (click)="OnDestory()" class="btn btn-danger">Destroy content</button>  -->

<!-- <app-inputoutput></app-inputoutput> -->

<!-- <app-simpletemplate></app-simpletemplate> -->

<!-- <app-simpletemplatehome></app-simpletemplatehome> -->

<!-- <app-templatePractice></app-templatePractice> -->

<!-- <app-reactiveform></app-reactiveform>  -->

 <!-- <app-reactivepractice></app-reactivepractice>  -->

<!-- <p appCustdir> Normal Para </p>
 <div *ngFor="let p of products">

  UserName :
   <strong>{{p.name}}</strong>
  Id : 
  <strong>{{p.id}} </strong>

  </div>  -->

<!-- <app-ngclass></app-ngclass> -->
  
<!-- <app-comp2></app-comp2> -->

 <!-- <div class="row">
  <div class="col-md-6">
  <input type="text" #title (keyup.enter)="createPost(title)" class="form-control">
</div>
</div> -->
<!-- 
<app-user></app-user>  -->

<!-- <app-apicall></app-apicall> -->

<app-ibm></app-ibm>

<!-- <app-pipedemo></app-pipedemo> -->

<!-- <app-loginform></app-loginform> -->

<!-- <app-comp2></app-comp2> -->


<!-- 
 <header> 
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active myactive">&nbsp; &nbsp;<h4>Home</h4></a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  routerLink="/aboutus" routerLinkActive="active myactive"> &nbsp; &nbsp; &nbsp; &nbsp;<h4>About Us</h4></a> 
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus" routerLinkActive="active myactive" >&nbsp; &nbsp; &nbsp; &nbsp;<h4>Contact Us</h4></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="product"  routerLinkActive="active myactive">&nbsp; &nbsp; &nbsp; &nbsp;<h4>Product</h4> </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/service" routerLinkActive="active myactive" >&nbsp; &nbsp; &nbsp; &nbsp;<h4>Service</h4> </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/car" routerLinkActive="active myactive" >&nbsp; &nbsp; &nbsp; &nbsp;<h4>Cars</h4> </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/orders" routerLinkActive="active myactive" >&nbsp; &nbsp; &nbsp; &nbsp;<h4>Orders</h4> </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/customers" routerLinkActive="active myactive" >&nbsp; &nbsp; &nbsp; &nbsp;<h4>Customers</h4> </a>
      </li>
    </ul>
  </nav>
</header> 
<router-outlet></router-outlet> -->

 <!-- <app-home></app-home> -->

 <!-- <div class="row">
  <div class="col-md-4">
    <app-compo1></app-compo1>
  </div>
  <div class="col-md-4">
    <app-compo2></app-compo2>
  </div>
  <div class="col-md-4">
    <app-compo3></app-compo3>
  </div>
  <div class="col-md-4">
    <app-compo4></app-compo4>
  </div>
</div> -->


 <!-- <div class="row">
  <div class="col-md-4">
    <app-compo5></app-compo5>
  </div>
  <div class="col-md-4">
    <app-compo6></app-compo6>
  </div>

</div> -->



<!-- <button (click)="createPost()">CreatePost</button>


<button (click)="createPost1()">CreatePost</button> -->