<div class="card">

    <b> ID:</b><i>{{productname.id}}</i>
    <br>
   
    <b>Name:</b><i>{{productname.name}}</i>
    <br>

    <b>Model:</b><i>{{productname.model}}</i>
    <br>

    <b> Price:</b><i>{{productname.price}}</i>
    <br>

    <input class="ss" type="text" placeholder="Enter user id"#val>
    <input  class="ss" type="text" placeholder="Enter user name"#arr>
    <input class="ss"  type="text" placeholder="Enter Model"#uname>
    <input  class="ss" type="text" placeholder="Enter Price"#uprice>
<br>

<button type="submit" class="btn btn-secondary btn-sm btn-add" (click)="UpdateProductValue(val,arr,uname,uprice)">Update</button>

 </div>