input:hover{
    background-color:deepskyblue;
    color: white;
}

.card{
    background-color:sandybrown;
    margin-left: 60px;
}

.btn-add:hover{
    background-color:crimson;
}

.ss{
    background-color: sandybrown;
}