

input.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 13px #ff000021;
}

.container{
margin-top: 50px;
width: 70%;
  
}

h2{
    color: blueviolet;
}


label{
    color:darkblue;
  
}

form{
    background-color: chartreuse;
}

.col-md-6{
    background-color: darkgray;
}