<!-- <p>pipedemo works!</p>
<div>
    Today's Date :- {{presentDate | date:'fullDate'| lowercase}}
</div>
<div>
    {{name | titlecase}}
</div>
<div>
    {{price | currency:'INR'}}
</div>
<div>
    {{price | currency:'USD'}}
</div>

<div>
    My Observable : {{myObservable | async}}
</div> 

<div>
    <p>
        {{jsonData | json}}
    </p>
</div>

<div>
    {{digits | digitcout}}
</div>
 -->

<div class="row justify-content-center">
    <div class="col-md-2">
        <label><b>Serial No</b></label>
        <input type="text" class="form-control" placeholder="Serial No" name="" value="" [(ngModel)]="newProduct.sno">

        <label><b>Product Name</b></label>
        <input type="text" class="form-control" placeholder="product Name" name="" value=""
            [(ngModel)]="newProduct.name">

        <label><b>Product Price</b></label>
        <input type="text" class="form-control" placeholder="Product Price" name="" value=""
            [(ngModel)]="newProduct.price">

        <label><b>Avaibility of Product</b>('Available' OR 'Not Available)</label>
        <input type="text" class="form-control" placeholder=" Avaibility of Product" name="" value=""
            [(ngModel)]="newProduct.avaibility">

        <button class="btn btn-danger mt-2 mb-4" (click)="addProduct()">Add Product</button>
    </div>
    <div class="form-group col-md-6 mt-2">
        <label><b>Search by product</b></label>
        <input type="text" class="form-control" id="searchbyproduct" placeholder="Enter product name"
            [(ngModel)]="namesearch">
    </div>

    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="row">Sr.No</th>
                    <th scope="row">Name</th>
                    <th scope="row">Price</th>
                    <th scope="row">Avaibility</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productArr | filter:namesearch">
                    <!-- let i=index;  <td>{{i+1}}</td> -->
                    <td>{{product.sno}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.avaibility}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>