<p >duster works!</p>


<div class="card" >
    <img class="card-img-top" width="30px" src="../../assets/images/duster.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Duster</h5>
      <p appCustdir class="card-text">Renault Duster Equipped with 1498cc Engine, 7-inch Touchscreen, Automatic climate control.
         New Renault Duster Featured with Airbags, Power Steering and 205cm Ground Clearance.</p>
         <a routerLink="" class="btn btn-info btn-lg">Back</a>
    </div>
</div>