<p >verna works!</p>


<div class="card" >
    <img class="card-img-top" width="30px" src="../../assets/images/verna.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Verna</h5>
      <p appCustdir class="card-text">Full LED Headlamps, LED Tail Lamps & the Twin Tip Muffler. R16 Diamond Cut Alloy Wheels.
         Hyundai VERNA- Exquisitely Crafted Sensuous Sporty Design and Mesmerising Front Grille.
          Hyundai Blue Link. Powerful and Efficient..</p>
          <a routerLink="" class="btn btn-danger btn-lg">Back</a>
    </div>
  </div>