<h4>washingmachine works!</h4>

<a routerLink="" class="btn btn-info btn-lg">Back</a>

<div class="card" >
    <img class="card-img-top" width="10px" src="../../assets/images/washingmachine.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Washing Machine</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="washingmachine" class="btn btn-danger">Go to wahsing machine</a>
    </div>
  </div>