<h2 style="color: green;">A)One way type data binding!</h2>

<h4>1.Event binding- html to typescript</h4>
<button (click)="show()">Press here </button>

<h4>2.Interpolution binding- typescript to html</h4>
{{name}}

<h4>3.property binding- typescript to html</h4>
<img [src]="imageUrl" alt="" width="400" height="150">


<h2 style="color: orangered;">B)Two way type data binding!</h2>
<h4>html to typescript</h4>
<h4>typescript to html</h4>

<div>
    User name : <input type="text" [(ngModel)]="defination">

</div>

<div>{{defination}}</div>