<!-- <p>ngclasshome works!</p>
<h4>Assignment using ngClass :</h4>

<table appCustdir>
    <tr>
        <th>StudentID</th>
        <th>Name</th>
        <th>Company</th>
        <th>Department</th>
        <th>Salary</th>
    </tr>
<tbody *ngFor ="let person of student">
    
<tr [ngClass]="{
    'text-success': person.Company ==='TCS',
    'text-Primary': person.Company ==='Wipro',
    'text-danger': person.Company ==='Mahindra'
    
    }">

<td>{{person.studentId}}</td>
<td> {{person.name}}</td>
<td>{{person.Company}}</td> 
<td>{{person.department}}</td> 
<td>{{person.Salary}}</td> 
</tr>
</tbody>
</table> -->


<div *ngFor="let candidate of candidates">

{{candidate.id}}
{{candidate.name}}
{{candidate.city}}
{{candidate.fruits.mango}}
{{candidate.fruits.banana}}
{{candidate.fruits.greaps}}

</div>