<div class="row">
    <div class="col-md-4">
        <div class="card" >
            <img class="card-img-top" width="30px" src="../../assets/images/scorpio.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Scorpio</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="service1" class="btn btn-danger">Go to Service1</a>
              
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" width="30px" src="../../assets/images/duster.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Duster</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="service2" class="btn btn-danger">Go to Service2</a>
            </div>
          </div>

        </div>
        <div class="col-md-4">
    <div>
        <router-outlet></router-outlet> 
    </div>
        </div>
    </div>
