
input.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 13px #ff000021;
}

label{
    color:mediumblue;
}

h2{
    text-align: center;
    background-color: black;
    color:gold
    
}

