<div class="row">
    <div class="col-md-4">
        <div class="card" >
            <img class="card-img-top" width="30px" src="../../assets/images/baleno.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Baleno</h5>
              <p class="card-text">Maruti Suzuki Baleno is currently available in Petrol engine. To give more infromation to click on <b><i>Go to baleno</i></b> </p>
              <a routerLink="baleno" class="btn btn-success">Go to Baleno</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" width="30px" src="../../assets/images/duster.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Duster</h5>
              <p class="card-text">Renault duster is currently available in Petrol engine. To give more infromation to click on <b><i>Go to baleno</i></b>.</p>
              <a routerLink="duster" class="btn btn-danger">Go to Duster</a>
            </div>
          </div>
              
          <div class="card" >
            <img class="card-img-top" width="30px" src="../../assets/images/verna.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Verna</h5>
              <p class="card-text">Verna is currently available in Petrol engine. To give more infromation to click on <b><i>Go to baleno</i></b>.</p>
              <a routerLink="verna" class="btn btn-secondary">Go to Verna</a>
            </div>
          </div>

        </div>
        <div class="col-md-4">
    <div>
        <router-outlet></router-outlet> 
    </div>
        </div>
    </div>
