h2{
    text-align: center;
    color:blue;
}
label{
    background-color:aqua;
}

h4{
    color:deeppink;
    text-align: center;
}


input.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 13px #ff000021;
}
