<h4>Create student registration form by using template driven form</h4>
<h2>Registration Form</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left rounded shadow py-50">
            <form #myForm="ngForm" (ngSubmit)="OnSubmit(myForm)">
                <div ngModelGroup="userDetail" #userDetail="ngModelGroup">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input tyep="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="name"
                        placeholder="Enter your first Name" required>
                        <small *ngIf="name">Username is:{{name}}</small>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" ngModel
                        placeholder="Enter last name" required>
                </div>

                <div class="form-group">
                    <label for="mobileNumber">Mobile Number</label>
                    <input type="number" class="form-control" id="mobileNumber" #mobile=ngModel name="mobileNumber" ngModel
                        placeholder="Enter mobile number" required>
                        <small class="text-primary" *ngIf="!mobile.valid && mobile.touched">Enter valid number</small>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city" ngModel placeholder="Enter city name"
                        required>
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" class="form-control" id="state" #state=ngModel name="state" ngModel
                        placeholder="Enter state name" required>
                        <small class="text-info" *ngIf="!state.valid && state.touched">Enetr valid state</small>
                </div>
                <small class="text-danger" *ngIf="!userDetail.valid && userDetail.touched"> Enter valid user details</small>
            </div>
                <div class="form-group">
                    <label for="">Select Course</label>
                    <select name="Course" id="Course" class="form-control" [(ngModel)]="selectedValue">
                        <option *ngFor="let obj of course">{{obj.course}}</option>
                        <option value="{{selectedvalue}}"></option>
                        <!-- <option value="Maharashtra">Maharashtra</option>
        <option value="Gujrat">Gujrat</option>
        <option value="Andrapradesh">Andrapradesh</option>
        <option value="Karnataka">Karnataka</option> -->
                    </select>
                </div>
                <button type="submit" class="btn btn-danger mt-2" [disabled]="!myForm.valid">submit</button>

            </form>
        </div>
    </div>
    </div>