<p>apicall works!</p>



<table>
    <thead>
        <tr>
            <th>DateTime</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume</th>
        </tr>
    </thead>

    <tbody >
       <!-- <tr *ngFor="let user of userData"> -->
       <td>{{userData}}</td>
        <!-- <td>{{user.dateTime}}</td>
        <td>{{user.open}}</td>
        <td>{{user.high}}</td>
        <td>{{user.low}}</td>
        <td>{{user.close}}</td>
        <td>{{user.volume}}</td> -->
    <!-- </tr> -->
    </tbody>
</table>











<!--  
<table>
    <thead>
        <tr>
            <th>DateTime</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{userData}}</td>
           <td>{{userData.Meta Data.Time Series.open}}</td>
            <td>{{userData.Meta Data.Time Series.high}}</td>
            <td>{{userData.Meta Data.Time Series.low}}</td>
            <td>{{userData.Meta Data.Time Series.close}}</td>
            <td>{{userData.Meta Data.Time Series.volume}}</td> 
        </tr> 
    </tbody>
</table> -->