
<button class="btn btn-secondary btn-lg" (click)="logOut()">LogOut</button>

<div class="row">
    <div class="col-md-4">
        <div class="card" >
            <img class="card-img-top" width="30px" src="../../assets/images/laptop.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Laptop</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="laptop" class="btn btn-danger">Go to laptop</a>
              
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" width="30px" src="../../assets/images/tablet.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Tablet</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="tablet" class="btn btn-danger">Go to tablet</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" width="30px" src="../../assets/images/tv.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">TV </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="tv" class="btn btn-danger">Go to tv</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" width="30px" src="../../assets/images/washingmachine.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Washing Machine</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="washingmachine" class="btn btn-danger">Go to wahsing machine</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" width="10px" src="assets/images/cooler.jpg"alt="card img cap">
            <div class="card-body">
              <h5 class="card-title">Cooler</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="cooler" class="btn btn-info">Go to cooler</a>
            </div>
          </div>
          <div class="card">
            <img  class="card-img-top"  width="10px" src="assets/images/friz.jpg" alt="card img cap">
            <div class="card-body">
              <h5 class="card-title">Friz</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="friz" class="btn btn-success">Got to Friz</a>
            </div>
          </div>
          <div class="card">
            <img  class="card-img-top" width="10px" src="assets/images/mixer.webp" alt="card img cap">
            <div class="card-body">
              <h5 class="card-title">Mixer</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="mixer" class="btn btn-danger">Go to mixer</a>
            </div>
         
          </div>
    </div>
    <div class="col-md-4">
<div>
    <router-outlet></router-outlet>
</div>
    </div>
</div>
