     <h3 class="suresh">Dropdown list using ngSwitch!</h3>

<div class="container">
<div class="col-md-4">
    <select class="form-control"(change)="getDepartmentValue($event)">
      <option value="Default">Select Department</option>
      <option value="Computer Science">Computer Science</option>
      <option value="Electrical">Electrical</option>
      <option value="Mechanical">Mechanical</option>
      <option value="Civil">Civil</option>
      <option value="Electronics">Electronics</option>
      <option value="Automobile">Automobile</option>
    </select>
</div>
   <div class="col-md-12" [ngSwitch]="selectedDepartment">
    <h2 class="text-success" *ngSwitchDefault>Please Select Department</h2>
    <h2 class="text-success" *ngSwitchCase="'Computer Science'">Computer Science</h2>
    <h2 class="text-success" *ngSwitchCase="'Electrical'">Electrical</h2>
    <h2 class="text-success" *ngSwitchCase="'Mechanical'">Mechanical</h2>
    <h2 class="text-success" *ngSwitchCase="'Civil'">Civil</h2>
    <h2 class="text-success" *ngSwitchCase="'Electronics'">Electronics</h2>
    <h2 class="text-success" *ngSwitchCase="'Automobile'">Automobile</h2>

   </div>
</div>