

table,
th,
td{
    border: 2px solid green;
    width: 30%;
    text-align: center;
    margin-left: 500px;
    margin-top: 20px;
}


div{
text-align: center;
}


h2{
    text-align: center;
    color: fuchsia;
}

td{
    color: blue;
    background-color:palegreen;
}

thead{
    background-color: wheat;
}


.btn-add, .btn-del{
    margin-left: 8px;
    background-color:purple;
}

input{
    background-color:mediumturquoise;
   border: 5px dotted orangered;
}