 <!-- <p>inputoutput works!</p>

<h2>Add and Remove User </h2>

<div>
    <input type="text" placeholder="Enter user name"#val>
    <button type="submit" class="btn btn-secondary btn-add" (click)="addUser(val)" >AddUser</button>

         <table>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Name</th>
                    <th>Delete User</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of list; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{element}}</td>

                    <td>
                        <button type="delete" class="btn btn-primary sm-2 btn-del" (click)="remove(i)">Delete </button>
                    </td>
                </tr>

            </tbody>
         </table>

</div> -->


<div>
    <input type="text" placeholder="Enter user name"#val>
    <button type="submit" class="btn btn-secondary" (click)="addUser(val)">AddUser</button>


<table>
    <thead>
        <tr>
            <th>Sr.No</th>  
            <th>Name</th>
            <th>Delete User</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of list; let i=index;">
            <td>{{i+1}}</td>
            <td>{{element}}</td>
            <td>
                <button class="btn btn-success" (click)="remove(i)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>  

</div> 