input.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 13px #ff000021;
}


    
.container{
    margin-top: 80px;
    background-color: skyblue;
    width: 35%;
    height: 80%;
}

span.psw{
    float: right;
    
}
button{
    margin-left: 190px;
}
h2{
    margin-top: 5px;
}
span{
    color: red;
}