<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left rounded shadow py-5">
            <form [formGroup]="myReactiveForm" (ngSubmit)="OnSubmit()">
                <div formGroupName="userDetail">
                    <div class="form-group">
                        <label for="username"><b>Username</b></label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username"
                            formControlName="username">
                        <small class="text-danger" *ngIf="!myReactiveForm.get('userDetail.username').valid
                           && myReactiveForm.get('userDetail.username').touched">
                            <span *ngIf="myReactiveForm.get('userDetail.username').errors['required']">
                                Username is required
                            </span>
                            <span *ngIf="myReactiveForm.get('userDetail.username').errors['nameNotAllowed']">
                                {{myReactiveForm.get('userDetail.username').value}} is not allowed
                            </span>
                        </small>
                    </div>                  
                    <div class="form-group">
                        <label><b>Email</b></label>
                        <input type="text" class="form-control" placeholder="Enter email" formControlName="email">
                        <small class="text-danger" *ngIf="!myReactiveForm.get('userDetail.email').valid && myReactiveForm.get('userDetail.email').touched">
                            <span *ngIf="myReactiveForm.get('userDetail.email').errors['required']">
                                Email is required
                            </span>
                     
                        <span *ngIf="myReactiveForm.get('userDetail.email').errors['emailNotAllowed']">
                            {{myReactiveForm.get('userDetail.email').value}} is not allowed
                        </span>
                    </small>
                    </div>    
                </div>
                <label><b>Gender</b></label>
                <div class="form-group" *ngFor="let gender of genders">
                    <input type="radio" formControlName="gender" id="{{gender.id}}" value="{{gender.value}}"
                        class="custom-control custom-radio">
                    <label for="{{gender.id}}">{{gender.value}}</label>
                </div>
                <br>
                <div class="form-group">
                    <label for="course" class="form-check-label">Select course</label>
                    <select class="form-control" id="course" formControlName="course">
                        <option value="Angular">Angular</option>
                        <option value="HTML">HTML</option>
                        <option value="JavaScript">JavaScript</option>

                    </select>
                </div>
                <div class="form-group" formArrayName="skills">
                    <label><b>Skills</b></label>
                    <ng-container *ngFor="let skill of myReactiveForm.get('skills').controls; index as i ">
                        <input type="text" class="form-control mt-2" placeholder="Enter skills" formControlName="{{i}}">
                        <button class="btn btn-light btn-sm mt-4 btn-del" (click)="Remove(i)">Remove Skill</button>
                    </ng-container>
                    <button class="btn btn-light btn-sm mt-4 btn-add" (click)="OnAddSkills()"><i>+</i>Add
                        Skills</button>

                </div>

                <button type="submit" class="btn btn-success" [disabled]="!myReactiveForm.valid"><b>Submit</b></button>
            </form>

        </div>
    </div>
</div>