
input.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 13px #ff000021;
}

form{
    color:yellow;
    background-color: black;
}

h2{
    text-align: center;
    color: deeppink;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 5px;
    margin-top: 10px;
    font-family: sans-serif;
}