
<h2>date picker assignment</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text left rounded shadow py-5">
<form [formGroup]="myReactiveForm" (ngSubmit)="OnSubmit()">
    <div formGroupName="userDetail">
  
<div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" formControlName="username"
    placeholder="Enter username">
    <small class="text-danger" *ngIf="!myReactiveForm.get('userDetail.username').valid 
      && myReactiveForm.get('userDetail.username').touched">
      <span *ngIf="myReactiveForm.get('userDetail.username').errors['required']">
        Enter Username
      </span>
      

    </small>
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" formControlName="email"
    placeholder="Enter email">
    <small class="text-danger" *ngIf="!myReactiveForm.get('userDetail.email').valid
    && myReactiveForm.get('userDetail.email').touched">
    <span *ngIf="myReactiveForm.get('userDetail.email').errors['required']">
        Enter email 
    </span>

    </small>
</div>
</div>
<div class="form-group">
    <label for="mobile">Mobile</label>
    <input type="number" class="form-control" id="mobile" formControlName="mobile"
    placeholder="xx xxxx xxxx">
</div>


<div>
    <label>Gender&nbsp;&nbsp;</label>
<span class="form-group" *ngFor="let gender of genders">
<input type="radio" formControlName="gender" id="{{gender.id}}" value="{{gender.value}}" 
class="custom-control custom-radio">
    <label for="{{gender.id}}">{{gender.value}}&nbsp;&nbsp;</label>
</span>
</div>


<br>

<div class="form-group">
    <label for="Date">Select Date</label>
    <input type="date" min="{{minDate}}" class="form-control" id="date" formControlName="date">
  </div>

<div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" formControlName="password"
    placeholder="Enter password" >
  

</div>

<div class="form-group">
    <label>confirmPassword</label>
    <input type="confirmPassword" class="form-control" formControlName="confirmPassword"
    placeholder="Enter conform passsword">
  
</div>

<span class="psw">Forgot <a href="#">password?</a></span>

 <button type="submit" class="btn btn-info">submit</button>
</form>

        </div>
    </div>
</div>


    }
    <h1>Change Password</h1>
    
    <form method="post" action="">
    
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" title="New password" />
    
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" title="Confirm new password" />
    
    <label for="token">Pasword Token:</label>
    <input type="text" id="token" name="token" title="Password Token" />
    
    <p class="form-actions">
    <input type="submit" value="Change Password" title="Change password" />
    </p>
    