<p>baleno works!</p>


<div class="card" >
    <img class="card-img-top" width="30px" src="../../assets/images/baleno.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Baleno</h5>
      <p appCustdir class="card-text">Maruti Baleno is a 5 seater Hatchback available in a price range of  Rs. 6.49 - 9.71 Lakh*.
       It is available in 7 variants, a 1197 cc, BS6 and 2 transmission.
     The 1197 cc Petrol engine generates a Power of 88.50bhp@6000rpm and a Torque of 113Nm@4400rpm.
     Designed to suit the bold lifestyle of the modern car buyer, the New 2022 NEXA Baleno by Maruti Suzuki now comes with the Crafted Futurism design </p> 
     <a routerLink="" class="btn btn-success btn-lg">Back</a>
    </div>
  </div>